@import "application";

body {
  background-color: $donutGray;
  color: $offWhite;
}

.container {
  width: 501px;
  margin-left: 10px;
}

#top-level-container {
  width: 501px;
  padding: 10px;
}

a {
  cursor: pointer;
  color: $linkColor;

  &:hover {
    color: $linkColorHover;
  }
}

#forgot-password-button {
  font-size: 80%;
  position: relative;
  left: 12px;
}

#sign-up-button {
  font-size: 160%;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  width: 88px;
}

.form-horizontal {
  .control-label {
    width: 65px;
  }

  .controls {
    margin-left: 100px;
  }
}

#sign-in-column {
  margin-top: 20px;
  //background-color: red;
  border-right: white 1px solid;
  padding-right: 0px;
  margin-right: 0px;
  width: 345px;
  padding-top: 10px;
}

#sign-up-column {
  //background-color: green;
  margin-top: 40px;
  margin-left: 15px;
}

#logo-wrapper {
  width: 360px;
  align: center;
  margin: auto;
  // display: block;
  padding: 10px;
  margin-bottom: -20px;
}

#pts-logo {
  width: 350px;
  &:hover {
    cursor: pointer;
  }
}

#sign-in-alert {
  display: none;
  margin-top: 11px;
  margin-bottom: 0px;
}

#new-user {
  margin-bottom: 3px;
}