@import "application";

body {
  font-size: 100%;
  background-color: $donutGray;
  color: $offWhite;
}

.container {
  width: 800px;
}

.nav {
  // a {
  //   color: $gold;
  // }
  margin-right: 20px;
}

// .nav-tabs {
//   .active {
//     a, a:focus {
//       background-color: $off_white;
//     }
//   }
// }

#top-level-container {
  padding-top: 20px;
  padding-left: 20px;
  width: 800px;
  margin: 10px;
}

.table .stats-value {
  color: $gold;
  text-align: right;
}

.table {
  a.track-title {
    color: $offWhite;

    &:hover {
      color: $offWhite;
    }
  }

  td.track-ranking {
    width: 18px;
    max-width: 18px;
    min-width: 18px;
  }

  td.track-title {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td.play-count {
    color: $gold;
    align: right;
    text-align: right;
    font-size: 80%;
    padding-left: 1px;
    margin-left: 1px;
    min-width: 115px;
  }

  td.time-since-played {
    color: $gold;
    align: right;
    text-align: right;
    font-size: 80%;
    padding-left: 1px;
    margin-left: 1px;
    min-width: 115px;
  }
}

.show-date {
  display: block;
  font-style: italic;
  font-size: 85%;
  color: $offWhite;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 7px;

  &:hover {
    color: $offWhite;
  }
}

#user-menu {
  // position: relative;
  display: inline;
  float: right;
  color: $offWhite;
  // a {
  //   color: $off_white;
  // }
  margin-right: 30px;
  margin-top: 10px;
}

#refresh-button {
  display: none;
}
