@import "application";

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: $donutGray;
  color: $offWhite;
}

h3 {
  margin-top: 0px;
}

.tab-content {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.nav {
  margin-bottom: 0px;

  li {
    margin-top: 5px;
    margin-left: 5px;
  }
}

#user-menu {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

#stats-alert {
  display: none;
  margin: 0;
  padding: 3px 6px;
}

.span {
  margin: 0;
}

$individualStatsWrapperWidth: 240px;
#individual-stats-wrapper {
  margin-left: 20px;
  min-width: $individualStatsWrapperWidth;
  width: $individualStatsWrapperWidth;
  max-width: $individualStatsWrapperWidth;
}

.table {
  .margin-bottom: 0;

  .stats-value {
    color: $gold;
    text-align: right;
  }

  .track-row-additional-info {
    @extend .stats-value;

    align: right;
    font-size: 80%;
    padding-left: 1px;
    margin-left: 1px;
    min-width: 115px;
  }
}

.table {
  $rankingWidth: 18px;
  .track-ranking {
    color: #ddd;
    width: $rankingWidth;
    max-width: $rankingWidth;
    min-width: $rankingWidth;
  }

  $trackTitleWidth: 400px;
  .track-title {
    max-width: $trackTitleWidth;
    width: $trackTitleWidth;
    min-width: $trackTitleWidth;
    @extend .ellipsis-overflow;
  }
}

.phishtracks-entity-link {
  color: $offWhite;
  &:hover {
    color: $offWhite;
  }
}

// .track-title-link {
// }

.show-date-link {
  display: block;
  font-style: italic;
  font-size: 85%;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 7px;
  @extend .ellipsis-overflow;
}

// .play-count {
// }

// .time-since-played {
// }

#user-history-wrapper {
  width: 80%;
  // margin: auto;
}
